body {
		text-align: center;
}
.button{
		margin-top:20px;
}
.infobuttons button{
		margin-top:40px;
		margin-left:-160px;
}
.infobuttons1 button{
		margin-top:-55px;
		margin-right:-180px;
}
.text-primary mark { 
    background-color: #FFFF66;
	color:#3399FF;
}
.center-block p{
    color:#707070;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 15%;
      margin: auto;
  }
.fa-thumbs-down {
  color: #e55451;
  padding:5px;
}
.fa-thumbs-up {
  color: #85bb65;
    padding:5px;
}

div .row{
    border: 1px solid #cccccc;
	width:99%;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;
    background: #eeeeee;
    border-radius: 10px;
}
.row .btn{
	padding:1px;
    background: #eeeeee;
}

div#overlay {
						position:absolute;
                     top:50%;
                     left:50%;
                     background-color:#000;
                     z-index:1002;
                     overflow:auto;
                     width:300px;
                     height:300px;
                     margin-left:auto;
                     margin-top:auto;
	
}

div#specialBox {
	position: absolute;
	z-index: 1002;
	background: #A0A0A0
	color: #000;
	top:auto;
    left:auto;
	overflow:auto;
                     width:300px;
                     height:300px;
                     margin-left:auto;
                     margin-top:auto;
}
